{% extends "system_app/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h4 class="text-center mb-3">Change Password</h4>

          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label">Current Password</label>
              <input type="password" name="current_password" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">New Password</label>
              <input type="password" name="new_password" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Confirm New Password</label>
              <input type="password" name="confirm_password" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">Update Password</button>
          </form>

          {% if message %}
            {% if message == "Current password is incorrect." %}
                <div class="alert alert-danger text-center mt-3 mb-0">{{ message }}</div>
            {% elif message == "New password cannot be empty." %}
                <div class="alert alert-danger text-center mt-3 mb-0">{{ message }}</div>
            {% elif message == "New passwords do not match." %}
                <div class="alert alert-danger text-center mt-3 mb-0">{{ message }}</div>
            {% else %}
                <div class="alert alert-success text-center mt-3 mb-0">{{ message }}</div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}